.review {
    background-color: #152D2E;
    padding: 20px;
    border: solid #243e3657 1px;
    border-radius: 30px;
    margin: 10px 50px;
    min-width: 300px;
  }
  
  .review_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .review P {
    margin-bottom: 0;
    opacity: 0.5;
    font-size: 10px;
  }

.slider {
    display: flex;
    /* justify-content: space-evenly; */
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: bold;
    overflow: hidden;
    animation: slidein 35s linear 0s infinite forwards;
    /* animation: slideout 5s ease-in-out 5s infinite backwards; */
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  @keyframes slideout {
    from {
      margin-right: 100%;
      width: 300%;
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }