.title {
	margin: 50px 0;
	font-weight: bold;
	font-size: 45px;
}

.slogan {
  /* opacity: .5; */
  padding: 50px 0;
  text-align: center;
  height: 600px;
  /* background-size: 20; */
  background-repeat: no-repeat;
}


.products_container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
  height: 600px;
  background-color: #FF6978;
}

@media (max-width: 500px) {
	.products_container {
		grid-template-columns: 1fr;
	}
}

.product_card {
	padding: 20px;
  margin: 100px;
  background-color: #FF6978;
  color: #fff;
}

.product_content {
  margin: 20px 0;
}
.product_content h3 {
  margin: 10px 0;
}
.product_content p {
  margin: 10px 0;
}

.product_img {
  width: 100%;
  overflow: hidden;
}

.product_img img {
	background-color: #fff;
	height: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	cursor: pointer;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  overflow: hidden;
}

.product_img img:hover {
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.product_content h3 {
	margin: 5px 0;
}

.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../public/images/pexels-mochi2.jpg');

}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 250px;
}

.about_container {
  background-color: #F1F4E9;
  height: 500px;
}
